.home {
  .home-hero {
    position: relative;
    img {
      width: 100%;
    }
    .hero-content {
      position: absolute;
      width: 60%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      color: white;
      .title {
        margin: 4px;
      }
      .subtitle {
        margin-bottom: 30px;
      }
      form {
        display: flex;
        height: 30px;
        input {
          flex: 1;
        }
      }
    }
  }   
}