.carousel {
  display: flex;
  flex-direction: row;
  justify-content: center;
  .arrow {
    align-self: center;
    height: 50px;
    &.left {
      transform: rotate(180deg);
    }
  }
  .carousel-items {
    display: flex;
    overflow: hidden;
    width: 1080px;
  }
}