.explore-item {
  display: flex;
  flex-direction: column;
  height: 200px;
  width: 200px;
  img {
  	width: 125px;
  	// margin-top: auto;
  	margin: auto;
  }
  span:first-of-type {
  	width: 100%;
  	height: 5px;
  	background: #17C671;
  	margin: 10px 0;
  }
}