.header {
  display: flex;
  position: absolute;
  width: 100%;
  align-items: center;
  z-index: 2;
  img {
    width: 50px;
    height: 50px;
  }
  ul {
    display: flex;
    width: 40%;
    margin: 0 30px 0 auto;
    list-style: none;
    justify-content: space-between;
    li {
      padding: 2px 10px;
      &:last-of-type {
        width: 80px;
        text-align: center;
        border: 1px solid white;
        border-radius: 10px;
      }
    }
    a {
      text-decoration: none;
      color: white;
    }
  } 
}