.top-pick-card {
  display: flex;
  flex-direction: column;
  margin: 30px;
  box-shadow: 0 0 10px;
  border-radius: 30px;
  img {
    width: 300px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
  }
  .card-content {
    display: flex;
    flex-direction: column;
    padding: 30px;
    text-transform: capitalize;
    text-align: left;
    .metrics {
      text-align: center;
      height: 150px;
    }
    button {
      width: 55%;
    }
  }
}