@import "variables";
@import "modules/header";
@import "modules/footer";
@import "pages/home";

body {
  font-family: $font-family;
  padding: 0;
  font-size: 23px;
  line-height: 1.4;
  color: $font-color;
}
