@import "variables";
@import "modules/header";
@import "modules/footer";
@import "modules/explore-item";
@import "modules/protocol-card";
@import "modules/carousel";
@import "modules/top-pick-card";
@import "pages/home";

body {
  font-family: $font-family;
  padding: 0;
  font-size: 23px;
  line-height: 1.4;
  color: $font-color;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 25px;
}

.overlay-black {
  position: absolute;
  top: 0 !important;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background: black;
  opacity: 0.2;
  z-index:1;
}