.header {
  display: flex;
  position: absolute;
  width: 100%;
  align-items: center;
  z-index: 2; }
  .header img {
    width: 50px;
    height: 50px; }
  .header ul {
    display: flex;
    width: 40%;
    margin: 0 30px 0 auto;
    list-style: none;
    justify-content: space-between; }
    .header ul li {
      padding: 2px 10px; }
      .header ul li:last-of-type {
        width: 80px;
        text-align: center;
        border: 1px solid white;
        border-radius: 10px; }
    .header ul a {
      text-decoration: none;
      color: white; }

.footer {
  background: #353537;
  text-align: center;
  color: white; }

.explore-item {
  display: flex;
  flex-direction: column;
  height: 200px;
  width: 200px; }
  .explore-item img {
    width: 125px;
    margin: auto; }
  .explore-item span:first-of-type {
    width: 100%;
    height: 5px;
    background: #17C671;
    margin: 10px 0; }

.protocol-card {
  position: relative;
  width: 150px;
  height: 180px;
  margin: 10px; }
  .protocol-card img {
    border-radius: 10px; }
  .protocol-card span {
    position: absolute;
    color: white;
    left: 0;
    right: 0;
    top: 5px;
    font-size: 15px; }

.carousel {
  display: flex;
  flex-direction: row;
  justify-content: center; }
  .carousel .arrow {
    align-self: center;
    height: 50px; }
    .carousel .arrow.left {
      transform: rotate(180deg); }
  .carousel .carousel-items {
    display: flex;
    overflow: hidden;
    width: 1080px; }

.top-pick-card {
  display: flex;
  flex-direction: column;
  margin: 30px;
  box-shadow: 0 0 10px;
  border-radius: 30px; }
  .top-pick-card img {
    width: 300px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px; }
  .top-pick-card .card-content {
    display: flex;
    flex-direction: column;
    padding: 30px;
    text-transform: capitalize;
    text-align: left; }
    .top-pick-card .card-content .metrics {
      text-align: center;
      height: 150px; }
    .top-pick-card .card-content button {
      width: 55%; }

.home .home-hero {
  display: grid;
  position: relative; }
  .home .home-hero img {
    width: 100%; }
  .home .home-hero .hero-content {
    position: absolute;
    width: 60%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    z-index: 1; }
    .home .home-hero .hero-content .title {
      margin: 4px; }
    .home .home-hero .hero-content .subtitle {
      margin-bottom: 30px; }
    .home .home-hero .hero-content form {
      display: flex;
      height: 30px; }
      .home .home-hero .hero-content form input {
        flex: 1; }
    .home .home-hero .hero-content .tags {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-top: 10px; }
      .home .home-hero .hero-content .tags span {
        width: 160px;
        font-size: 12px;
        padding: 5px 10px;
        border: 2px solid white;
        border-radius: 5px; }
.home .home-body .explore {
  display: flex;
  max-width: 1000px;
  margin: auto;
  padding: 100px 150px;
  text-align: center;
  flex-direction: column; }
  .home .home-body .explore .explore-group {
    display: flex;
    justify-content: space-between;
    margin-top: 60px; }
.home .home-body .perfect-clarity {
  display: flex;
  flex-direction: row;
  background: #353537;
  color: white; }
  .home .home-body .perfect-clarity .section-content {
    flex: 1;
    padding: 50px; }
  .home .home-body .perfect-clarity img {
    height: 300px; }
.home .home-body .first-step {
  display: flex;
  flex-direction: column;
  justify-content: centre;
  padding: 100px 150px;
  text-align: center; }
  .home .home-body .first-step .protocols {
    display: flex;
    margin-top: 30px;
    justify-content: center; }
.home .home-body .top-pick {
  display: flex;
  flex-direction: column;
  text-align: center; }

body {
  font-family: Roboto, sans-serif;
  padding: 0;
  font-size: 23px;
  line-height: 1.4;
  color: #212529; }

h1 {
  font-size: 50px; }

h2 {
  font-size: 25px; }

.overlay-black {
  position: absolute;
  top: 0 !important;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background: black;
  opacity: 0.2;
  z-index: 1; }

/*# sourceMappingURL=App.css.map */
